
<%= render 'shared/content_title', title: 'Log in' %>
<%= form_tag login_path do %>
  <div class="control-group">
    <%= label_tag(:username, 'username') %>
    <% binding.pry %>
    <%= text_field_tag :username, params[:username] || '' %>
  </div>
  <div class="control-group">
    <%= label_tag(:password, 'password') %>
    <%= password_field_tag :password, params[:password] || '' %>
  </div>
  <%= submit_tag 'Login', class: 'btn btn-success' %>
<% end %>
