<% if logged_in? %>
  <p class='pull-right'>
    [<%= link_to 'Edit this post', edit_post_path(@post) %>]
  </p>
<% end %>


<p><%= render @post.categories %></p>
<%= render 'shared/content_title', title: @post.title %>

<div class="row">
  <div class="span6 well">
    <p><%= @post.description %></p>
  </div>
</div>
<hr>

<h5>Comments:</h5>
<div class="offset1">
  <%= render @post.comments %>
</div>
<hr>
<div class="offset1">

  <% if logged_in? %>
    Leave a comment
    <%= form_for [@post, @comment] do |f| %>
      <div class='control-group'>
        <%= f.text_area :body,  rows: 3, class: 'span4' %>  
        <br>
        <span id="comment_submit"> 
          <%= f.submit 'Add Comment', class: 'btn btn-small btn-primary' %>
        </span>
      </div>
    <% end %>
  <% else %>
    <div class="well span6 text-center">
      <b>Please login or register to comment on this post.</b>
    </div>
  <% end %>
</div>
  
